.icon-button {
	display: flex;
	align-items: center;
	gap: 0.75rem;
	color: var(--color-secondary);
	line-height: 1;
	@media (max-width: 500px) {
		gap: 0.25rem;
	}
}

.icon-button:active {
	filter: brightness(0.9);
}

.icon-button__icon {
	width: 1lh;
	height: 1lh;
	color: currentColor;
	/* @media (max-width: 400px) {
		width: 1.2rem;
		height: 1.2rem;
	} */
}

.icon-button__text {
	/* @media (max-width: 400px) {
		display: none;
	} */
}
