.icon-button {
	display: flex;
	align-items: center;
	gap: 0.75rem;
	color: var(--color-secondary);
	line-height: 1;

	&:active {
		filter: brightness(0.9);
	}

	@media (max-width: 500px) {
		gap: 0.25rem;
	}
}

.icon-button__icon {
	width: 1lh;
	height: 1lh;
	color: currentColor;
}
