.website-link {
	display: flex;
	flex-direction: column;
	justify-content: end;
	border-radius: var(--border-radius);
	gap: var(--spacing-block-s);
	position: relative;
}

.website-link__image-link {
	--focus-outline-offset: 0.25rem;
	view-transition-class: screenshot;
}

.website-link__image {
	height: auto;
	border-radius: var(--border-radius);
	&:active {
		filter: brightness(0.9);
	}
	[data-theme="light"] & {
		box-shadow:
			0px 0px 0px rgba(20, 20, 22, 0),
			0px 0px 2px rgba(20, 20, 22, 0.01),
			0px 1px 4px rgba(20, 20, 22, 0.01),
			0px 2px 6px rgba(20, 20, 22, 0.02),
			0px 3px 10px rgba(20, 20, 22, 0.02);
	}
}

.website-link__text {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 1rem;
}

.website-link__url {
	position: relative;
	z-index: 2;
	white-space: nowrap;
	overflow-x: clip;
	text-overflow: ellipsis;
	min-width: 0;
}

.website-link__panel {
	color: var(--color-tertiary);
	transition: all 0.1s var(--ease-1);
	transition-property: color;
	.website-link:hover &,
	&:focus-visible {
		color: var(--color-secondary);
	}
	&:active {
		filter: brightness(0.9);
	}
}
