.website-image {
	border-radius: var(--border-radius);
	@media (max-width: 1000px) {
		border-radius: 0;
	}
}

.website-image--frontend {
	view-transition-class: screenshot;
	[data-theme="light"] & {
		box-shadow: 0px 0px 0px rgba(20, 20, 22, 0),
			0px 0px 2px rgba(20, 20, 22, 0.01), 0px 1px 4px rgba(20, 20, 22, 0.01),
			0px 2px 6px rgba(20, 20, 22, 0.02), 0px 3px 10px rgba(20, 20, 22, 0.02);
	}
}

.website-image__caption {
	margin-block-start: var(--spacing-block-s);
	color: var(--color-tertiary);
	max-width: 75ch;
	text-wrap: balance;
	@media (max-width: 1000px) {
		margin-inline: var(--spacing-inline);
	}
}
