.website-images {
	margin-block: var(--spacing-block);
}

.website-images__inner {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-block);
	@media (max-width: 1000px) {
		margin-inline: calc(var(--spacing-inline) * -1);
		width: auto;
	}
}

.website-images__item {
	width: 100%;
	height: auto;
}
